# See https://help.github.com/articles/dealing-with-line-endings

# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files we want to always be normalized and converted 
# to native line endings on checkout.
*.c text
*.C text
*.cc text
*.cmake text
*.cpp text
*.css text
*.cxx text
*.h text
*.H text
*.hh text
*.hpp text
*.html text
*.hxx text
*.md text
*.txt text

# Declare files that will always have CRLF line endings on checkout.
*.bat text eol=crlf
*.sln text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.3ds binary
*.7z binary
*.bmp binary
*.bz2 binary
*.gif binary
*.jpg binary
*.jpeg binary
*.obj binary
*.off binary
*.off.bin binary
*.mbp binary
*.patch binary
*.png binary
*.rtf binary
*.seg binary
*.tar binary
*.tar.gz binary
*.tif binary
*.zip binary
